.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.main-container {
  max-width: 800px;
  margin: 64px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.main-container section {
  width: 45%;
  min-width: 300px;
  height: 300px;
  background: purple;
  border-radius: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section-header {
  color: white;
}
.section-btn {
  padding: 16px 24px;
  cursor: pointer;
  margin-top: 64px;
}
